// This is a login form style
#root {
    background-image: url(../all-views-images/bglog.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.logincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50vh;
    background-color: transparent;
}

.wrapper{
    justify-content: center;
}

.loginform {
    padding: 10px;
    border-radius: 60px;
    // width:400px;
    background-color: #ffffffaa;
}

.loginform h1{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.loginform p{
    text-align: center;
}

.input-group-text {
    background-color: #009DFF;
    color: #ffffff;
    padding: 0px 18px 0px 18px;
    font-size: 25px;
}

.input-group {
   height: 50px;
   border-radius: 15px;
}

.login, .registernow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button {
    text-align: center;
    color: #ffffff;
    background-color: #009DFF;
    border: none;
    border-radius: 10px;
    margin:5px;
    padding: 10px 135px 10px 135px;
}

.registernow button {
    text-align: center;
    color: #1b45b0;
    background-color: transparent;
    border: none;
    margin:5px;
    transform: none;
}

.userIcon {
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: 150px;
}

// footer & header
:root {
	--mainColor: #fff;
	--mainColorLight: #5767aa;
	--secondaryColor: #303C54;
	--textColor: #eee;
}

.header-menu-logo>img {
    display: flex;
    height: 78px;
    margin-top: 14px;
    margin-right: 530px;
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: right;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    margin-top: -99px;
}

.footer {
    text-align: center;
    background-color: #303C54;
    border: none;
    position: absolute;
    display: flex;
    margin-top: 510px;
}

// .footer h4 {
//   font-size: 35px;
//   text-align: center;
// }


nav a {
    margin: 0 1rem;
    color: #009FE9;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}

nav a:hover {
	color: var(--secondaryColor);
}

.header-menu .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.header-menu div,
nav {
	display: flex;
	align-items: center;
}

.home-body {
    min-height: 528px;
	background-image: url(../all-views-images/bglog.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}