.container {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.waterbillBox {
    border:none;
}

.invoice-row {
    display: flex;
}

.invoice-label {
    font-size: 35px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: -10px;
    position: relative;
    text-align: center;
}

.invoice-sub-label {
    text-align: center;
}

.invoice-sub2-label {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.underline {
    border-top: 3px solid #009DFF;
    opacity: 1;
    margin-top: -5px;
}

.invoice-field-label {
    width: 200px;
    font-size: 12px;
    font-weight: 900;
}

.invoice-input {
    font-size: 12px;
    border: none;
    padding-left: 76px;
    margin: 4px;
    border-radius: 0px;
}

.tbl-invoice-input {
    font-size: 12px;
    border: none;
    padding: 1px;
    border-radius: 0px;
}

.invoice-input-penalty, .invoice-input-total {
    font-size: 12px;
    border: none;
    margin: 2px;
    padding-left: 56px;
    border-radius: 0px;
}

.invoice-input-date {
    font-size: 12px;
    border: none;
    padding-left: 40px;
    margin: 4px;
    border-radius: 0px;
}


.invoice-form-label {
    position: absolute;
    padding-top: 6px;
    padding-left: 6px;
}

.invoice-form-date {
    position: absolute;
    padding-top: 5px;
    padding-left: 6px;
}

.invoice-form-penalty, .invoice-form-total {
    position: absolute;
    padding-top: 7px;
    padding-left: 5px;
}

// INVOICE BODY
.table thead > tr > th {
    font-size: 12px;
    text-transform: uppercase;
    background: #eff1f3;
    text-align: center;
    border: 1px solid;
}

.table td {
    border: 1px solid;
}

button.secondarybtn.btn.btn-primary {
    text-transform: uppercase;
    font-weight: 700;
}

table {
    height: 100%;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    font-size: 0.8em;
  }
  
  thead {
    position: sticky;
    top: 0;
    background: #eee;
  }